<DOCTYPE HTML5>
{% load static %}

<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
  </head>

  <body width="100%" height="100%">
    <form action="index.html" method="post" class="loginForm">
      <h2>GOMS 로그인</h2>
      <div class="idForm">
        <input type="text" class="id" placeholder="ID">
      </div>
      <div class="passForm">
        <input type="password" class="pw" placeholder="PW">
      </div>
      <button type="button" class="btn" onclick="button()">
        LOG IN
      </button>
      <script>
      	let button = () => {
        	alert('login Button !')
        }
      </script>
      <div class="bottomText">
        <a href="#">회원가입</a>
      </div>
    </form>
  </body>
</html>